@import url('https://fonts.googleapis.com/css?family=Archivo|Inconsolata');

:root {
  --background: #f4f4f4;
  --color_1: #72dec2;
  --color_2: #51a196;
  --color_3: #316067;
  --grey_1: #f4f4f4;
  --grey_2: #a1a1a1;
  --grey_3: #333333;
  --grey_4: #111111;
  --rounded: 2px;
}

body {
  background-color: var(--background);
}


article,aside,footer,header,hgroup,nav,section{
  display:block
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin:0;
  padding:0
}

.entry h3 {
  margin-bottom: 15px;
}

.entry {
  margin-bottom: 75px;
  min-width: 750px;
}

.entry p {
  padding: 0px 30px;
}

.post-title h2,h3,h4 {
  display: inline-block;
}
*{
  box-sizing:border-box
}
h1,h2,h3 {
  font-family: 'Archivo', Georgia, Times New Roman, serif;
  font-weight:400
}
ul,li,h4,h5,h6 {
  font-family: 'Inconsolata', monospace;
  color: var(--grey_4);
  list-style: none;
  padding-left: 20px;
}

ul, li {
  font-size: 20px;
}

.inner-list {
  margin-bottom: 20px;
}
.inner-list li{
  font-family: 'Archivo', Georgia, Times New Roman, serif;
  list-style: square;
  padding-left: 0px;
  margin-left: 20px;
  font-size: 16px;
}

h1 {
  color: var(--gray_4);
  margin-bottom:30px
}
h2{
  color: var(--gray_4);
  margin-bottom:15px
}
.entries h3{
  color: var(--gray_4);
  padding-top:60px
}
h2+h3{
  padding-top:0
}
h4{
  padding-left:20px
}
h4+ul{
  margin-left:30px
}
h5{
  font-size:14px;
  color: var(--grey_4);
  text-transform:uppercase;
  letter-spacing:1px
}
h6{
  font-size:12px;
  line-height:15px;
  color: var(--gray_4);
  text-transform:uppercase;
  letter-spacing:1px
}
p.note{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size:14px;
  line-height:15px;
  color:rgba(119,119,119,0.8);
  color: var(--grey_4);
  margin-bottom:8px
}
a{
  color: var(--color_2);;
  text-decoration:none
}
a:hover{
  color: var(--color_3);;
}
strong{
  background:rgba(242,199,93,0.2);
  padding:1px 5px;
  font-weight:400
}
em{
  background:rgba(248,202,215,0.2);
  padding:1px 4px 1px 5px
}
em.update{
  background:rgba(73,132,157,0.1)
}
em.update::before{
  content:"Update: "
}
hr{
  color:#eee;
  margin-top:60px;
  margin-bottom:0
}
hr+h1{
  padding-top:60px
}
hr+h2{
  padding-top:60px
}
main>ul:not(#markdown-toc){
  margin-top:8px;
  margin-bottom:8px
}
ul+h2{
  padding-top:60px
}
html,body{
  height:100%
}
body{
  /* background:#fff; */
  /* font-family:"Noto Sans", Optima, Segoe, Candara, Calibri, Arial, sans-serif; */
  font-family: 'Archivo', Georgia, Times New Roman, serif;
  font-size:16px;
  line-height:30px;
  color:#333;
  display:flex;
  flex-direction:column;
  align-items:stretch;
  margin:0;
  padding:0;
}

nav{
  margin-top: 40px;
  min-height:30px
  float: left;
  max-width: 320px;
}
main{
  max-width:50em;
  min-width: 640px;
  margin:0 auto;
  padding: 0px 20px;
  flex:1;
  padding-bottom:60px
}

.home, .places {
  min-width: 800px;
  margin-top: 20px;
}

.entries {
  margin-top: 20px;
}
header{
  padding-bottom:30px
}
footer{
  padding:15px 10px
}
#markdown-toc{
  box-sizing:border-box;
  width:25em;
  font-size:16px;
  line-height:24px;
  background:#FAFAF9;
  padding:15px 50px;
  margin-bottom:60px
}
#markdown-toc ul{
  padding-left:30px
}

#header-image-container {
  background-color: var(--grey_4);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 400px;
  max-height: 500px;
}

#header {
  position: sticky;
  top: 0;
  padding: 0px;
  width: 100%;
}

#header .main {
  border-bottom: 1px;
  border-color: #fff;
}

#header h1 {
  padding-top: 20px;
  color: #fff;
  display: inline-block;
}

#header .header-nav {
  display: inline-block;
}


.header-image {
  min-height: 400px;
  max-height: 500px;
}
.upcase {
  text-transform:uppercase;
}

.inline-image {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.inline-image p{
  font-size:14px;
  line-height:15px;
  color: var(--grey_3);
  margin-top:10px;
  margin-bottom:8px;
}


.inline-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px
}

img.placeholder {
  background-color: var(--grey_2);
  height: 640px;
  width: 640px;
}

.header-nav {
  display: block;
  float: right;
}

.header-nav a {
  color: var(--grey_1);
  text-decoration: none;
  margin: 0px 10px;
}

.header-nav {
  margin-top: 20px;
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 600px) {
  #header {
    width: 90%;
  }

  #header-image-container {
    min-height: 200px;
    max-height: 200px;
  }

   main{
    max-width:100%;
    min-width: 200px;
  }

  .entries {
    margin-top: 20px;
  }

  .entry {
    min-width: none;
  }

  nav {
    display: none;
  }

  .inline-image img {
    max-width: 320px
  }

  img.placeholder {
    background-color: var(--grey_2);
    height: 320px;
    width: 320px;
  }
}

